<header>
  <nav>
    <ul>
      <li><a href="/dashboard">Examineee</a></li>
      <li><a href="/dashboard/searchSchedule">Schedule</a></li>
      <li><a href="/dashboard/searchExam">Report</a></li>
      <li><a href="/dashboard/examiner">Examiner</a></li>
    </ul>
  </nav>
</header>
